<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Studies</h2>
            <br>
            <p class="lead"><span style="font-weight: bold;" >Year: 2015</span></p>
            <p class="lead"><span style="font-weight: bold;" >Degree: System Engineer</span></p>
            <p class="lead"><span style="font-weight: bold;" >Institution: Universitaria de Colombia.</span></p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading text-center">Job</h2>
            <p class="lead"><span style="font-weight: bold;" >From 01/12/2015 to 01/02/2017  Bogotá-Colombia</span></p>
            <p class="lead"><span style="font-weight: bold;" >Job: Inverfor EU,  Sector:Energetic.</span></p>
            <p class="lead"><span style="font-weight: bold;" >Position: Junior dev.</span></p>
            <br>
            <h3 class="featurette-heading">Tasks:</h3>
            <ul>
                <li class="lead">VB6 app develop, the requirements was to make a simple software, it need to translate from hexadecimal or binary data to a csv and uploaded in the server to process it a lot easier.</li>
                <li class="lead">Web dev with(PHP, JS, CSS, MySQL). It was a 3rd party requirement, It was an electric engineer enterprise that needed a new software to automate and generate quotations for their clients.</li>
            </ul>
        </div>
        <div class="col-md-5 displayFlex alignContentTopCenter contentCenter">
            <img src="assets/img/about/logo_inverfor.png" width="80%" height="vw9">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-5 displayFlex alignContentTopCenter contentCenter">
            <img src="assets/img/about/logoTVS.png" width="80%" height="vw9">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading text-center">Job</h2>
            <p class="lead"><span style="font-weight: bold;" >From 20/02/2017 to 06/06/2018  Bogotá-Colombia</span></p>
            <p class="lead"><span style="font-weight: bold;" >Job: Transportadora de valores del sur, Sector: value carrier</span></p>
            <p class="lead"><span style="font-weight: bold;" >Position: Dev analyst.</span></p>
            <br>
            <h3 class="featurette-heading">Tasks:</h3>
            <ul>
                <li class="lead">Object-oriented web development in (PHP, JS, CSS, MySQL). With I18N and multi-country support, which allowed an intuitive use and monitoring of all the services requested by the client in real time.</li>
                <li class="lead">Development of new modules and maintenance of current company applications developed in Java.</li>
                <li class="lead">Database administrator in the new developments of the company. (Optimization of queries, backup copies, log tracking, scalability reviewer and perfect functioning of the DB).</li>
                <li class="lead">Creation and configuration of the web service APIs in the company (SOAP).</li>
            </ul>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading text-center">Job</h2>
            <p class="lead"><span style="font-weight: bold;" >From 09/09/2018 to 27/03/2019  Bogotá-Colombia</span></p>
            <p class="lead"><span style="font-weight: bold;" >Job: Softron, Sector: Technology</span></p>
            <p class="lead"><span style="font-weight: bold;" >Position: Developer.</span></p>
            <br>
            <h3 class="featurette-heading">Tasks:</h3>
            <ul>
                <li class="lead">AWS EC2, migration and deployment of client web application, Apache configuration with PHP and Mysql5.7. </li>
                <li class="lead">New platform maintenance</li>
                <li class="lead">SSL certificate configuration.</li>
                <li class="lead">Domain and sub-domain configuration.</li>
                <li class="lead">Query optimization.</li>
                <li class="lead">Development of a new module using angular js and ECS6.</li>
                <li class="lead">Back-end  optimization.</li>
                <li class="lead">Use of 3rd party web services (SOAP).</li>
            </ul>
        </div>
        <div class="col-md-5 displayFlex alignContentTopCenter contentCenter">
            <img src="assets/img/about/powerButton.svg" width="80%" height="vw9">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-5 displayFlex alignContentTopCenter contentCenter">
            <img src="assets/img/about/par-servicios-logo-dark.png" width="80%" height="vw9">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading text-center">Job</h2>
            <p class="lead"><span style="font-weight: bold;" >From 07/12/2019 to 15/01/2021  Bogotá-Colombia</span></p>
            <p class="lead"><span style="font-weight: bold;" >Job: Par Servicios Integrales, Sector: Technology.</span></p>
            <p class="lead"><span style="font-weight: bold;" >Position: Senior dev.</span></p>
            <br>
            <h3 class="featurette-heading">Tasks:</h3>
            <ul>
                <li class="lead">Management and optimization of queries in relational databases (MySQL).</li>
                <li class="lead">Web dev using laravel(PHP).</li>
                <li class="lead">Management of non-relational databases (MongoDB).</li>
                <li class="lead">Creation and configuration of the web service APIs in the company (SOAP).</li>
                <li class="lead">Front-end design with pure CSS and Bootstrap.</li>
                <li class="lead">Front-end develop of new modules using ECS6.</li>
                <li class="lead">Back-end functionalities optimization.</li>
            </ul>
        </div>
    </div>
    <br>
    <!-- /END THE FEATURETTES -->
</div>