<nav class="nav d-flex justify-content-between">
    <a class="p-2 link-secondary" routerLink="/">i18n.global.home</a>
    <a class="p-2 link-secondary" routerLink="/about">i18n.global.about</a>
    <a class="p-2 link-secondary" routerLink="/examples">i18n.global.example</a>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">i18n.global.language</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li>
                <a class="dropdown-item">i18n.global.spanish</a>
            </li>
            <li>
                <a class="dropdown-item">i18n.global.english</a>
            </li>
        </ul>
    </li>
</nav>
