<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Different technologies for different solutions</h2>
            <p class="lead">In my time as a full developer i learn to use different technologies to get the best result and aproach to the desired solution <span style="font-weight: bold;" >always try to think out the box</span> sometimes that's the best way to go.</p>
            <p class="lead">Exist times were the optimal and manteinable solution is the basic and easy one and always rember this:</p>
            <ul>
                <li>The purpose of software engineering is to reduce complexity, not to create it. "Keep It Simple, Stupid (KISS)"</li>
                <li>Try to not duplicate the code and make it maintenable. “Don’t Repeat Yourself (DRY)” </li>
                <li>Dont write code that you think you gonna need in the future “You Aren’t Gonna Need It (YAGNI)”</li>
                <li>Try to partition a complicate application in different parts “Separetion if Concerns (SoC)”</li>
                <li>Avoid premature optimizations</li>
            </ul>
        </div>
        <div class="col-md-5">
            <img src="assets/img/global/thinkoutsideTheBox.svg" width="100%" height="100%">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading text-center">Languages and technologies that i learned to use</h2>
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-sm">
                        <img src="assets/img/global/css3.svg" width="80%" height="80%">
                    </div>
                    <div class="col-sm">
                        <img src="assets/img/global/html5.svg" width="80%" height="80%">
                    </div>
                    <div class="col-sm">
                        <img src="assets/img/global/js.svg" width="80%" height="80%">
                    </div>
                    <div class="col-sm">
                        <img src="assets/img/global/mongodb.svg" width="80%" height="80%">
                    </div>
                    <div class="col-sm">
                        <img src="assets/img/global/nodejs.svg" width="80%" height="80%">
                    </div>
                    <div class="col-sm">
                        <img src="assets/img/global/git.svg" width="80%" height="80%">
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-sm">
                        <img src="assets/img/global/java.svg" width="80%" height="80%">
                    </div>
                    <div class="col-sm">
                        <img src="assets/img/global/angular.svg" width="80%" height="80%">
                    </div>
                    <div class="col-sm">
                        <img src="assets/img/global/php.svg" width="80%" height="80%">
                    </div>
                    <div class="col-sm">
                        <img src="assets/img/global/ts.svg" width="80%" height="80%">
                    </div>
                    <div class="col-sm">
                        <img src="assets/img/global/mysql.svg" width="80%" height="80%">
                    </div>
                    <div class="col-sm">
                        <img src="assets/img/global/aws.svg" width="80%" height="80%">
                    </div>
                    <div class="col-sm">
                        <img src="assets/img/global/net.svg" width="80%" height="80%">
                    </div>
                </div>
            </div>
            <br>
            <p class="lead">In my career i learned to use optimize and aplicate each of the languages and technologies above. i worked in mutiple projects for different companies and them got a really different aproach on his solutions and necesities.</p>
            <p class="lead">Thats why we as a team always work together to develop more faster and precise. To do that we need good communication and best practices. (Unitary testing)</p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <h2 class="featurette-heading">Agile methodologies <span class="text-muted">SCRUM.</span></h2>
        <div class="col-md-3 order-md-2">
            <p class="lead">The most used agile methodology at the time is The SCRUM, it can help to maintain constant develop, testing, debug and deploy. In all of my different projects we always apply this method.</p>
        </div>
        <div class="col-md-9 order-md-1">
            <img src="assets/img/global/kanban.svg" width="100%" height="100%">
        </div>
    </div>
    <br>
    <!-- /END THE FEATURETTES -->
</div>