<main>
    <div class="container marketing">
        <hr class="featurette-divider">
        <div class="col-md-12">
            <div class="p-5 text-white bg-dark rounded-3">
                <div class="row featurette">
                    <div class="col-sm-7">
                        <h1 class="text-capitalize text-center">basicCSS</h1>
                        <br>
                        <p class="lead text-justify">
                            A light-weight css library to make simple pages.
                        </p>
                        <br>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a role="button" href="https://github.com/Camilo-Forero/basicCSS" class="btn btn-primary" target="_blank">GitHub</a>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <img src="assets/img/examples/cssExample.jpg" width="100%" height="vw10">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>